.page {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  transition: opacity 0.3s ease-in;
}
.page-enter {
  opacity: 0.1;
}
.page-enteractive {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
}
